@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan/*(graphic design text)*/: hsl(167, 40%, 24%);
    --Dark-blue /*(photography text)*/: hsl(198, 62%, 26%);
    --Dark-moderate-cyan /*(footer)*/: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body{
    box-sizing: border-box;
    margin: 0;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-area: 'nav nav nav nav'
    'hero hero hero hero'
    'transform-body transform-body transform-photo transform-photo'
    'stand-photo stand-photo stand-body stand-body'
    'design design photo photo'
    'clients clients clients clients'
    'one two three four'
    'footer footer footer footer';
}
.nav{
    grid-area: nav;
}
.hero{
    grid-area: hero;
}
.transform-body{
    grid-area: transform-body;
}
.transform-photo{
    grid-area: transform-photo;
}
.stand-photo{
    grid-area:stand-photo;
}
.stand-body{
    grid-area: stand-body;
}
.design{
    grid-area: design;
}
.photo{
    grid-area: photo;
}
.clients{
    grid-area: clients;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area:four;
}
.top-hero{
    background-image: url(/images/desktop/image-header.jpg);
    width: 1440px;
    height: 800px;
}
.nav{
    display: flex;
}

.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
   
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}